.apply_wrap {
	position: relative;
	padding: 7% 47px 0 304px;
	overflow-x: hidden;
}
.apply_wrap .inner_wrap {
	width: 400px;
	margin: 0 auto;
}
.apply_wrap .inner {
	width: 100%;
}
.apply_wrap .inner .page-title {
	width: 100%;
	text-align: center;
}
.apply_wrap .inner .page-title h2 {
	font-family: 'NotoSansCJKkr-Bold';
	font-size: 28px;
	margin-bottom: 54px;	
}
.writeform_wrap {
	width: 100%;
	overflow: hidden;
}
.writeform_wrap .apply_navwrap {
	position: relative; 
	margin: 3% 0 11% 0;
	height: 13px;
}
.writeform_wrap .apply_navwrap .iconow {
	position: absolute;
	display: block;	
	z-index: 5; 
}
.writeform_wrap .apply_navwrap .iconow.mgl9 {
	transform: translateX(-9px);
}
.writeform_wrap .apply_navwrap .iconow.mgl-9 {
	transform: translateX(0px);
}
.writeform_wrap .apply_navwrap .iconow .point-border {
	position: relative;
	display: block;
	width: 13px;
	height: 13px;
	border: 1px solid #fd4d0a;
	border-radius: 50vh;
	background: #1d1e2e;
}
.writeform_wrap .apply_navwrap .iconow .point-border .point {
	position: absolute;
	display: block;
	margin: 3px;
	width: 5px;
	height: 5px;
	border-radius: 50vh;
	background: #fd4d0a;
}
.apply_wrap .writeform_wrap .apply_nav {
	position: absolute;
	top: 6px;
	width: 100%;
}

.apply_wrap .writeform_wrap .apply_nav li {
	position: relative;
	float: left;
	width: 25%;
}
.apply_wrap .writeform_wrap .apply_nav li:before {
	content: "";
	clear: both;
	position: absolute;
	left: 2px;
	display: block;
	width: 100%;
	height: 2px;
	background: #fff;
}
.apply_wrap .writeform_wrap .apply_nav li .p_round {
	display: block;
	width: 9px;
	height: 9px;
	margin: -4px 2px 2px -7px;
	border-radius: 50vh;
	background: #fff;
}
.apply_wrap .writeform_wrap .apply_nav li:last-child {
	width: 0;
}
.apply_wrap .writeform_wrap .apply_nav li:first-child .p_round {
	margin-left: 2px;
}
.apply_wrap .writeform_wrap .contents_wrap {
	width: 100%;
	height: 45vh;
	overflow: hidden;
}
.apply_wrap .writeform_wrap .contents {
	width: 800%;
	height: 100%;
}
.apply_wrap .writeform_wrap .contents>li {
	float: left;
	width: 12.5%;
	height: 400px;
	overflow-y: auto;
}
.apply_wrap .writeform_wrap .contents>li .title {
	padding-right: 22px;
	text-align: center;
	font-family: 'NotoSansCJKkr-Bold', sans-serif;
	color: #fd4d0a;
	font-size: 25px;
}
.apply_wrap .writeform_wrap .contents>li ul.list {
	margin-top: 5.9%;
}
.apply_wrap .writeform_wrap .contents>li ul.list>li {
	padding: 3% 0 2.5%;
	padding-left: 20px;
	border-bottom: 1px solid #707070;
}
.apply_wrap .writeform_wrap .contents>li ul.list>li:first-child {
	border-top: 1px solid #707070;
}
.apply_wrap .writeform_wrap .contents>li ul.list>li span {
	text-align: left;
	font-family: 'NotoSansCJKkr-Light', sans-serif;
	color: #ffffff;
	font-size: 14px;
}
.apply_wrap .writeform_wrap .contents>li ul.list>li span.num {
	color: #fd4d0a;
	padding-right: 10px;
	font-family: 'NotoSansCJKkr-Medium', sans-serif;
}
.apply_wrap .writeform_wrap .contents>li ul.list>li span.bold {
	font-family: 'NotoSansCJKkr-Regular', sans-serif;
}
.apply_wrap .writeform_wrap .contents>li ul.list>li span.txt {
	padding-left: 1.6%;
}
.apply_wrap .writeform_wrap .contents>li ul.list>li span.opa05 {
	opacity: 0.5;
}
.apply_wrap .writeform_wrap .contents>li .sns_title {
	margin: 5% 0 5.4% 1%;
	font-family: 'NotoSansCJKkr-Bold', sans-serif;
	color: #ffffff;
	font-size: 46px;
	text-align: center;
}
.apply_wrap .writeform_wrap .contents>li .sns_txt {
	margin-bottom: 7.8%;
	font-family: 'NotoSansCJKkr-Light', sans-serif;
	color: #ffffff;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
}
.apply_wrap .writeform_wrap .contents>li .sns_txt_margin {
	margin-bottom: 14px;
}
.apply_wrap .writeform_wrap .contents>li .sns_txt .bold {
	font-family: 'NotoSansCJKkr-Medium', sans-serif;
}
.apply_wrap .writeform_wrap .contents>li .get_txt_wrap {
	position: relative;
	margin-bottom: 9.3%;
	width: 100%;
	font-family: 'NotoSansCJKkr-Regular', sans-serif;
	color: #fd4d0a;
	font-size: 20px;
	text-align: center;
}
.apply_wrap .writeform_wrap .contents>li .get_txt_wrap .get_txt {
	color: #fd4d0a;
	font-size: 28px;
	font-family: 'NotoSansCJKkr-Bold';
}
.apply_wrap .writeform_wrap .contents>li .get_txt:before {
	content: "";
	clear: both;
	position: absolute;
	display: block;
}
.apply_wrap .writeform_wrap .contents>li .sns_txt_bold {
	color: #fd4d0a;
	font-family: 'NotoSansCJKkr-Light';
	font-size: 17.5px;
	line-height: 1.4;
}
.apply_wrap .writeform_wrap .contents>li .text-bold {
	 font-size: 30px;
	 font-family: 'NotoSansCJKkr-Bold';
}
.apply_wrap .writeform_wrap .contents>li .code {
	width: 235px;
	height: 54px;
	border-radius: 42px;
	text-align: center;
	line-height: 54px;
	color: #fff;
	margin: 0 auto;
	margin-top: 20px;
	font-family: 'NotoSansCJKkr-Regular';
	font-size: 15px;
	background-color:  #fd4d0a;
}
.apply_wrap .writeform_wrap .contents>li .link-btn {
	background-color: #3c90ea;
	width: 235px;
	height: 54px;
	border-radius: 42px;
	text-align: center;
	line-height: 54px;
	color: #fff;
	margin: 0 auto;
	margin-top: 20px;
	font-family: 'NotoSansCJKkr-Regular';
	font-size: 15px;
} 
.apply_wrap .writeform_wrap .contents>li .sns-link li a {
	display: inline-block;
}
.apply_wrap .writeform_wrap .contents>li .sns-link li img {
	width: 40px;
}
.apply_wrap .writeform_wrap .contents>li a.icon_btn {
	display: inline-block;
}
.apply_wrap .writeform_wrap .contents>li .icon_btn {
	margin-bottom: 20%;
	width: 200px;
	height: 50px;
	line-height: 51px;
	padding-right: 31px;
	text-align: right;
	background: url(../images/m_kakao_link_icon.png) left #e9d300 no-repeat;
	background-size: 50px;
	border-radius: 50vh;
	font-family: 'NotoSansCJKkr-Regular', sans-serif;
	color: #1d1e2e;
	font-size: 16px;
	margin: 0 auto;
}
.apply_wrap .writeform_wrap .contents>li:nth-child(3n) .icon_btn {
	margin-bottom: 20%;
	width: 200px;
	height: 50px;
	line-height: 51px;
	padding-right: 39px;
	text-align: right;
	background: url(../images/m_telegr_link_icon.png) left #1b6fa7 no-repeat;
	background-size: 50px;
	border-radius: 50vh;
	font-family: 'NotoSansCJKkr-Regular', sans-serif;
	color: #fff;
	font-size: 16px;
}
.apply_wrap .writeform_wrap .contents>li:nth-child(4n) .icon_btn {
	margin-bottom: 20%;
	width: 200px;
	height: 50px;
	line-height: 51px;
	padding-right: 22px;
	text-align: right;
	background: url(../images/m_facebook_link_icon.png) left #003d65
		no-repeat;
	background-size: 50px;
	border-radius: 50vh;
	font-family: 'NotoSansCJKkr-Regular', sans-serif;
	color: #fff;
	font-size: 16px;
}
.apply_wrap .writeform_wrap .contents>li:nth-child(5n) .icon_btn {
	margin-bottom: 20%;
	width: 200px;
	height: 50px;
	line-height: 51px;
	padding-right: 31px;
	text-align: right;
	background: url(../images/m_twitter_link_icon.png) left #1574b4
		no-repeat;
	background-size: 50px;
	border-radius: 50vh;
	font-family: 'NotoSansCJKkr-Regular', sans-serif;
	color: #fff;
	font-size: 16px;
}
.apply_wrap .writeform_wrap .contents>li:nth-child(6n) .icon_btn {
	margin-bottom: 20%;
	width: 200px;
	height: 50px;
	line-height: 51px;
	padding-right: 31px;
	text-align: right;
	background: url(../images/m_youtu_link_btn.png) left #a70d0d no-repeat;
	background-size: 50px;
	border-radius: 50vh;
	font-family: 'NotoSansCJKkr-Regular', sans-serif;
	color: #fff;
	font-size: 16px;
}
.apply_wrap .writeform_wrap .contents>li .title_form {
	margin: 21px 0;
	text-align: center;
}
.apply_wrap .writeform_wrap .contents>li .title_form h2 {
	font-family: 'NotoSansCJKkr-Bold';
	font-size: 46px;
	margin-top: -14px;
	margin-bottom: 16px;
}
.apply_wrap .writeform_wrap .contents>li .title_form .bold {
	font-family: 'NotoSansCJKkr-Medium';
}

.apply_wrap .writeform_wrap .contents>li .title_form span {
	font-family: 'NotoSansCJKkr-Light';
	font-size: 13px;
	color: #61626d;
}
.apply_wrap .writeform_wrap .contents>li form {
	width: 68%;
	margin-top: 25px;
	margin: 0 auto;
}
.apply_wrap .writeform_wrap .contents>li form .step {
	width: 100%;
	margin-bottom: 15px;
}
.apply_wrap .writeform_wrap .contents>li form .step .select-box {
	width: 100%;
  	height: 30px;
  	border-radius: 4px;
  	margin-top: 5px;
  	margin-bottom: 8px;
  	background-color: #0f0f19;
}
.apply_wrap .writeform_wrap .contents>li form .step .select-box span {
	font-family: 'NotoSansCJKkr-Regular';
	font-size: 12px;
	color: #fd4d0a;
	float: left;
	line-height: 30px;
	width: 100px;
	height: 30px;
	padding-left: 9px;
	display: inline-block;
}
.apply_wrap .writeform_wrap .contents>li form .step .select-box select {
	width: 139px;
	height: 30px;
	font-size: 12px;
	color: #aaaaaa;
	border-radius: 4px;
	font-family: 'NotoSansCJKkr-Regular';
  	background-color: #0f0f19;
  	float: right;
  	border: 0;
}
.apply_wrap .writeform_wrap .contents>li form .step .file-box {
	width: 100%;
}
.apply_wrap .writeform_wrap .contents>li form .step .file-box .file {
	width: 100%;
	height: 30px;
	padding-left: 10px;
	font-family: 'NotoSansCJKkr-Regular';
	line-height: 30px;
	margin-top: 5px;
	background-color: #fff;
}
.apply_wrap .writeform_wrap .contents>li form .step .file-box .file span {
	font-size: 12px;
	color: #707070;
	float: left;
}
.apply_wrap .writeform_wrap .contents>li form .step .file-box .file .button {
	width: 74px;
  	height: 24px;
  	cursor: pointer;
  	margin-top: 3px;
  	border-radius: 35px;
  	box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.16);
  	border: solid 1px #3577e5;
  	line-height: 24px;
  	font-family: 'NotoSansCJKkr-Regular';
  	float: right;
  	color: #3577e5;
  	margin-right: 10px;
  	text-align: center;
	background-color: transparent;
}
.apply_wrap .writeform_wrap .contents>li .step span {
	font-family: 'NotoSansCJKkr-Regular';
	font-size: 14px;
}
.apply_wrap .writeform_wrap .contents>li .step .level {
	color: #fd4d0a;
}
.apply_wrap .writeform_wrap .contents>li .step .question {
	width: 17px;
	margin-left: 2px;
	line-height: 1.5;
	background-color: transparent;
}
.apply_wrap .writeform_wrap .contents>li .step input {
	width: 100%;
	height: 1.9rem;
	margin-top: 5px;
	border: 0;
	font-size: 12px;
	color: #707070;
	font-family: 'NotoSansCJKkr-Regular';
	color: #707070;
	padding-left: 10px;
}
.apply_wrap .writeform_wrap .contents>li .step input::placeholder {
	color: #707070;
	font-family: 'NotoSansCJKkr-Regular';
	font-size: 12px;
}
.apply_wrap .writeform_wrap .btn {
	width: 186px;
	margin: 0 auto;
}
.apply_wrap .writeform_wrap .btn a {
	display: block;
	width: 93px;
	height: 48px;
}
.apply_wrap .writeform_wrap .btn a.prev {
	float: left;
	background: url(../images/w_prev_icon.png) left no-repeat;
	background-size: 120px;
}
.apply_wrap .writeform_wrap .btn a.next {
	float: left;
	background: url(../images/w_next_icon.png) center no-repeat;
	background-size: 120px;
}
/* modal_pageout 영역 */
.modal_pageout {
	position: fixed;
	top: 50%;
	left: 57%;
	transform: translate(-50%, -57%) scale(0);
    width: 349px;
    height: 226px;
	padding-top: 2rem;
	border-radius: 5px;
	background-color: #fff;
	opacity: 0;
	z-index: 888;
	overflow: hidden;
	transition: opacity 0.3s, transform 0.5s ease-in-out;
	-webkit-transition: opacity 0.3s, transform 0.5s ease-in-out;
}
.modal_overlay {
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	background-color: rgba(0, 0, 0, 0.87);
	opacity: 0;
	overflow: auto;
	position: fixed;
	transform: translate(-50%, -50%) scale(0);
	transition: opacity 0.3s, transform 0.5s ease-in-out;
	-webkit-transition: opacity 0.3s, transform 0.5s ease-in-out;
}
.modal_pageout .content {
	text-align: center;
}
.modal_pageout .content h2 {
	font-family: 'NotoSansCJKkr-Bold';
	color: #0f0f19;
	font-size: 24px;
	margin-bottom: 25px;
}
.modal_pageout .content p {
	font-family: 'NotoSansCJKkr-Light';
	color: #8a8a8a;
	font-size: 14px;
	line-height: 1.2;
}
.modal_pageout .content span {
	font-family: 'NotoSansCJKkr-Medium';
	color: #fd4d0a;
	line-height: 2;
}
.modal_pageout .content .button-box {
	width: 100%;
	height: 54px;
	margin-top: 40px;
	background-color: #ecebeb;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.modal_pageout .content .button-box a {
	display: inline-block;
	width: 50%;
	height: 100%;
	font-family: 'NotoSansCJKkr-Regular';
	line-height: 42px;
	background-color: #ecebeb;
}
.modal_pageout .content .button-box a.confirm {
	border-bottom-left-radius: 5px;
	border-right: 1px solid #d4d4d4;
	line-height: 54px;
}
.modal_pageout .content .button-box a.cancel {
	border-bottom-right-radius: 5px;
	line-height: 54px;
}
.modal_pageout .content .button-box .confirm, .modal .content .button-box .cancel{
	float: left;
}
.modal_pageout .content .button-box .confirm, .modal {
	color: #8a8a8a;
}
.modal_pageout  .content .button-box .cancel {
	color: #fd4d0a;
}
/* modal class 스크립트 */
.modal_pageout.active {
	opacity: 1;
	overflow: visible;
	transform: translate(-50%, -57%) scale(1);
}
.modal_overlay.active {
	opacity: 1;
	overflow: visible;
	transform: translate(-50%, -50%) scale(1);
}
/* applyed 영역 */
.applyed {
	display: none;
}

.applyed.on {
	display: block;
}
/* faq 영역 */
.faq {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	z-index: 998;
	display: none;
}
.faq .faq-wrap {
	width: 496px;
	height: 400px;
	position: relative;
	top: 50%;
	left: 62%;
	transform: translate(-59%, -50%);
	z-index: 998;
}
.faq .faq-close-btn {
	width: 21px;
	position: absolute;
	top: 0;
	right: -6%;
	z-index: 998;
	background-color: transparent;
}
.faq .faq-content {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 50px 0;
	z-index: 998;
	background-color: #1d1e2e;
}
.faq .faq-content .page-title {
	width: 100%;
}
.faq .faq-content .page-title h2 {
    font-family: 'NotoSansCJKkr-Bold', sans-serif;
	font-size: 28px;
	text-align: center;
	margin-bottom: 54px;	
}
.faq .faq-content .list {
	width: 80%;
	margin: 0 auto;
	border-bottom: 1px solid #444444;
}
.faq .faq-content .list:first-child {
	border-top: 1px solid #444444;
}
.faq .faq-content .list .tab {
	padding-left: 20px;
	padding-right: 20px;
	line-height: 3.5;
}
.faq .faq-content .list .tab .title {
	float: left;
}
.faq .faq-content .list .tab .title h2 {
	font-family: 'NotoSansCJKkr-Regular';
	font-size: 16px;
}
.faq .faq-content .list .tab .btn {
	float: right;
	width: 20px;
	border: 0;
	transition: all 0.3s ease-in-out 0s;
	background-color: transparent;
}
.faq .faq-content .list .tab .btn img {
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle
}
.faq .faq-content .list .text p {
	width: 100%;
	height: 168px;
	overflow-y: scroll;
	font-family: 'NotoSansCJKkr-Light';
	font-size: 15px;
	color: #d8d8d8;
	line-height: 2;
	padding: 10px 20px;
	border-top: 1px solid #444444;
}
.faq .faq_overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 996;
	display: none;
	background-color: #000000d4;
}
/* faq class 스크립트 */
.faq.active {
	display: block;
}
.faq .faq_overlay {
	display: block;
}
/* faq 영역 */
/* Tablet Device */
@media only screen and (max-width:1024px) {

		.faq .faq-wrap {
		width: 450px;
		height: 400px;
		position: relative;
		top: 50%;
		left: 73%;
		transform: translate(-71%, -50%);
		z-index: 998;
	}
	.modal_pageout {
		position: fixed;
		top: 50%;
		left: 62%;
		transform: translate(-50%, -57%) scale(0);
	    width: 349px;
	    height: 226px;
		padding-top: 2rem;
		border-radius: 5px;
		background-color: #fff;
		opacity: 0;
		z-index: 888;
		overflow: hidden;
		transition: opacity 0.3s, transform 0.5s ease-in-out;
		-webkit-transition: opacity 0.3s, transform 0.5s ease-in-out;
	}
}
@media only screen and (max-width:770px) {
	.faq .faq-wrap {
		width: 450px;
		height: 400px;
		position: relative;
		top: 50%;
		left: 76%;
		transform: translate(-69%, -50%);
		z-index: 998;
	}
	.modal_pageout {
	position: fixed;
	top: 50%;
	left: 65%;
	transform: translate(-50%, -57%) scale(0);
    width: 349px;
    height: 226px;
	padding-top: 2rem;
	border-radius: 5px;
	background-color: #fff;
	opacity: 0;
	z-index: 888;
	overflow: hidden;
	transition: opacity 0.3s, transform 0.5s ease-in-out;
	-webkit-transition: opacity 0.3s, transform 0.5s ease-in-out;
}
}